body {
    background-image:url('https://wallpapercave.com/wp/wp9572897.jpg');
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    max-width: 700px;
    margin: 50px auto;
  }
  
  .signup-card {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(224, 195, 195, 0.1);
    height:500px ;
    width:600px ; 
    box-sizing: unset;
  }
  
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .col-md-6 {
    padding: 20px;
  }
  
  form {
    width: 100%;
  }
  
  h2 {
    color: #333;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    color: #666;
  }
  
  .form-control {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .btn-primary {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  
  .text-center {
    text-align: center;
  }
  
  .mt-3 {
    margin-top: 20px;
  }
  
   .img-fluid {
    max-width: 100%;
    height: auto;
  }
  
  .shadow {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  